### RFM Î∂ÑÏÑù  

ÏÇ¨Ïö©ÏûêÎ≥ÑÎ°ú ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê, ÏñºÎßàÎÇò ÏûêÏ£º, ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÏßÄÏóê Îî∞Îùº ÏÇ¨Ïö©ÏûêÎì§Ïùò Î∂ÑÌè¨Î•º ÌôïÏù∏ÌïòÍ±∞ÎÇò  
ÏÇ¨Ïö©Ïûê Í∑∏Î£π(ÎòêÎäî Îì±Í∏â)ÏùÑ ÎÇòÎàÑÏñ¥ Î∂ÑÎ•òÌïòÎäî Î∂ÑÏÑù Í∏∞Î≤ïÏù¥Îã§. Íµ¨Îß§ Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄ Í≥†Í∞ùÏùÑ ÏÑ†Ï†ïÌï† Îïå Ïö©Ïù¥Ìïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î∞©Î≤ïÏù¥Î©∞,  
ÏÇ¨Ïö©ÏûêÎì§Ïùò ÌèâÏÜå Íµ¨Îß§ Ìå®ÌÑ¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î∂ÑÎ•òÎ•º ÏßÑÌñâÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Í∞Å ÏÇ¨Ïö©Ïûê Í∑∏Î£πÏùò ÌäπÏÑ±Ïóê Îî∞Îùº  
Ï∞®Î≥ÑÌôîÎêú ÎßàÏºÄÌåÖ Î©îÏÑ∏ÏßÄÎ•º Ï†ÑÎã¨Ìï† Ïàò ÏûàÎã§.  

- Recency: ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Frequency: ÏñºÎßàÎÇò ÏûêÏ£º Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Monetary: ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÍ∞Ä

### üõíÏù¥Ïª§Î®∏Ïä§ ÌîåÎû´Ìèº AÍ∏∞ÏóÖÏùò RFM Î∂ÑÏÑù
üìåÏù¥Ïª§Î®∏Ïä§: Ïò®ÎùºÏù∏ÏùÑ ÌÜµÌï¥ ÏÉÅÌíàÏù¥ÎÇò ÏÑúÎπÑÏä§Î•º ÏÇ¨Í≥†ÌååÎäî ÏÑúÎπÑÏä§ (Ïø†Ìå°, 11Î≤àÍ∞Ä, ÎÑ§Ïù¥Î≤Ñ Îì±)

 
<table style="width: 50%; margin-left:10px;">
    <caption>Í≥†Í∞ù Î∂ÑÏÑù</caption>
    <tr>
        <th>ÏÇ¨Ïö©Ïûê</th>
        <th>Íµ¨Îß§ ÌöüÏàò</th>
        <th>Íµ¨Îß§ Í∏àÏï°</th>
        <th>ÏµúÍ∑º Íµ¨Îß§Ïùº</th>
    </tr>
    <tr>
        <th>ÌïúÎèôÏÑù</th>
        <th>45</th>
        <th>1,980,000</th>
        <th>2Í∞úÏõî Ï†Ñ</th>
    </tr>
    <tr>
        <th>Ï£ºÏÑ†Ïú†</th>
        <th>2</th>
        <th>45,320</th>
        <th>1ÎÖÑ Ï†Ñ</th>
    </tr>
</table>

üëì"ÌïúÎèôÏÑù" Í≥†Í∞ùÏùÑ VIPÎ°ú ÏÑ†Ï†ïÌï¥ÏÑú Ïó∞Îßê ÏÑ†Î¨ºÏùÑ Ï†ÑÎã¨ÌïòÎ©¥, Ï∂©ÏÑ±Ïã¨ÏûàÎäî Í≥†Í∞ùÏúºÎ°ú Ïú†ÏßÄÌï† Ïàò ÏûàÎäî Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∏ ÏàòÎèÑ ÏûàÍ≥†, <br><br> üé´"Ï£ºÏÑ†Ïú†" Í≥†Í∞ùÏóêÍ≤å Ìï†Ïù∏ Ïø†Ìè∞ Îì± ÏûêÏÇ¨Ïùò ÌîåÎû´ÌèºÏùÑ Ïù¥Ïö©Ìï† Í±∞Î¶¨Î•º Ï†ÑÎã¨Ìï®ÏúºÎ°úÏç®, Íµ¨Îß§Î•º Ïú†ÎèÑÌï† Ïàò ÏûàÎäî Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∏ ÏàòÎèÑ ÏûàÎã§.

RFMÏùÑ ÌÜµÌï¥ ÏÇ¨Ïö©Ïûê ÌäπÏÑ±Î≥ÑÎ°ú Îã§Î•∏ Ï†ïÏ±ÖÏùÑ Ï†ÅÏö©ÌïòÍ≥† ÏÑúÎπÑÏä§Î•º Îçî Ïûò ÏÇ¨Ïö©ÌïòÎèÑÎ°ù Ïú†ÎèÑÌïòÎäî Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∏ Ïàò ÏûàÎã§.

In [27]:
import pandas as pd

cp_df = pd.read_csv('./datasets/customer_personality_analysis.csv', sep='\t')
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [28]:
cp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [29]:
cp_df.duplicated().sum()
cp_df.ID.duplicated().sum()

np.int64(0)

In [30]:
cp_df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [31]:
cp_df[['Income']].describe().T

,count,mean,std,min,25%,50%,75%,max
Income,2216.0,52247.251354,25173.076661,1730.0,35303.0,51381.5,68522.0,666666.0

In [32]:
cp_df['Income'].fillna(cp_df.Income.median(), inplace=True)
cp_df.isna().sum()

C:\Users\kimdaae\AppData\Local\Temp\ipykernel_23964\1686917025.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cp_df['Income'].fillna(cp_df.Income.median(), inplace=True)

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

In [33]:
cp_df.Year_Birth.min()

np.int64(1893)

In [34]:
cp_df = cp_df[cp_df.Year_Birth >= 1925]
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [35]:
cp_df[cp_df.Income <= 0]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response]
Index: []

[0 rows x 29 columns]

In [36]:
import numpy as np

Q1 = cp_df.describe().T.loc['Income','25%']
Q3 = cp_df.describe().T.loc['Income','75%']

iqr = Q3 - Q1

lower_bound = Q1 - iqr * 1.5
upper_bound = Q3 + iqr * 1.5

if lower_bound < 0:
    lower_bound = 0

print(f'Ï†ïÏÉÅÏπò Î≤îÏúÑ: {lower_bound} ~ {upper_bound}')

Ï†ïÏÉÅÏπò Î≤îÏúÑ: 0 ~ 117418.0

In [37]:
cp_df = cp_df[cp_df.Income <= upper_bound]
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [38]:
# !pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp310-cp310-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\kimdaae\.conda\envs\data-analysis\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.8.0 in c:\users\kimdaae\.conda\envs\data-analysis\lib\site-packages (from scikit-learn) (1.15.3)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp310-cp310-win_amd64.whl (8.9 MB)
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.9 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.9 MB 1.2 MB/s eta 0:00:07
   --- ------------------------------------ 0.8/8.9 MB 1.2 MB/s eta 0:00:07
   ---- ----------------------------------- 1.0/8.9 MB 1.2 MB/s eta 0:00:07
   ----- ---------------------------------- 1.3/8.9 MB 1.2 MB/s eta 0:00:07
   ------- -------------------------------- 1.6/8.9 MB 1.3 MB/s eta 0:00:06
   -------- ------------------------------- 1.8/8.9 MB 1.2 MB/s eta 0:00:06
   --------- ------------------------------ 2.1/8.9 MB 1.2 MB/s eta 0:00:06
   ---------- ----------------------------- 2.4/8.9 MB 1.3 MB/s eta 0:00:06
   ----------- ---------------------------- 2.6/8.9 MB 1.3 MB/s eta 0:00:05
   ------------ --------------------------- 2.9/8.9 MB 1.3 MB/s eta 0:00:05
   -------------- ------------------------- 3.1/8.9 MB 1.3 MB/s eta 0:00:05
   --------------- ------------------------ 3.4/8.9 MB 1.3 MB/s eta 0:00:05
   ---------------- ----------------------- 3.7/8.9 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 3.9/8.9 MB 1.3 MB/s eta 0:00:04
   ------------------ --------------------- 4.2/8.9 MB 1.3 MB/s eta 0:00:04
   -------------------- ------------------- 4.5/8.9 MB 1.3 MB/s eta 0:00:04
   --------------------- ------------------ 4.7/8.9 MB 1.3 MB/s eta 0:00:04
   ---------------------- ----------------- 5.0/8.9 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 5.2/8.9 MB 1.3 MB/s eta 0:00:03
   ------------------------ --------------- 5.5/8.9 MB 1.3 MB/s eta 0:00:03
   ------------------------- -------------- 5.8/8.9 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 6.0/8.9 MB 1.3 MB/s eta 0:00:03
   ---------------------------- ----------- 6.3/8.9 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 6.8/8.9 MB 1.3 MB/s eta 0:00:02
   ------------------------------ --------- 6.8/8.9 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 7.1/8.9 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 7.3/8.9 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 7.9/8.9 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 8.1/8.9 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 8.4/8.9 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 8.7/8.9 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 8.9/8.9 MB 1.3 MB/s  0:00:06
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn

   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   ------------- -------------------------- 1/3 [joblib]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   -------------------------- ------------- 2/3 [scikit-learn]
   ---------------------------------------- 3/3 [scikit-learn]

Successfully installed joblib-1.5.2 scikit-learn-1.7.2 threadpoolctl-3.6.0